// Update: 18/08/2021

//---------------------
@mixin simple_button($attr: ()) {
    $bg: mapv($attr, bg, $c1);
    $bgh: mapv($attr, bg_hover, $c2);
    $color: mapv($attr, color, $c2);
    $colorh: mapv($attr, color_hover, $c1);
    $size: mapv($attr, size, 18);
    $font: mapv($attr, font, $f1);
    $weight: mapv($attr, weight, normal);
    $align: mapv($attr, align, center);
    $uppercase: mapv($attr, uppercase, uppercase);
    $w: mapv($attr, width, 65px);
    $h: mapv($attr, height, 45px);
    $bd: mapv($attr, border_color, $c2);
    $bdh: mapv($attr, border_color_hover, $c2);
    $bdsize: mapv($attr, border_size, 1px);
    $bdstyle: mapv($attr, border_style, solid);
    $time: mapv($attr, time, $t5);

    all: initial;
    @include font(szrem($size), $font, $weight);
    @include transition(all $time);
    @include text($align, $uppercase);
    @include center-flex-column;
    @include user-select;
    @include wh($w, $h);
    border: $bdsize $bdstyle $bd;
    background-color: $bg;
    cursor: pointer;
    color: $color;

    &:hover,
    &.active
    {
        @include transition(all $time);
        border: $bdsize $bdstyle $bdh;
        background-color: $bgh;
        color: $colorh;
    }
}

@mixin button_style_adidas_1($attr: ()) {
    $w: mapv($attr, width, 280px);
    $ar: mapv($attr, aspect_ratio, 5.16);
    $bg: mapv($attr, bg, $c2);
    $bgh: mapv($attr, bg_hover, $c2);
    $bgd: mapv($attr, bg_disabled, lighten($c2, 80%));
    $color: mapv($attr, color, $c1);
    $colorh: mapv($attr, color_hover, $c1);
    $colord: mapv($attr, color_disabled, lighten($c2, 40%));
    $font: mapv($attr, font, $f1);
    $size: mapv($attr, size, 18);
    $weight: mapv($attr, weight, bold);
    $transform: mapv($attr, transform, uppercase);
    $align: mapv($attr, align, center);
    $time: mapv($attr, time, $t2);
    $bd: mapv($attr, border_color, $c2);
    $bdh: mapv($attr, border_color_hover, $c2);
    $bdd: mapv($attr, border_color_disabled, lighten($c2, 80%));
    $bdsize: mapv($attr, border_size, 1px);
    $bdstyle: mapv($attr, border_style, solid);

    @include position;
    @include aspect-ratio($w, $ar);
    @include user-select;
    cursor: pointer;


    &:before {
        @include transition(all $t2 linear);
        @include position(absolute);
        @include wh(99%, 97%);
        border: $bdsize $bdstyle $bd;
        background-color: $c0;
        content: "";
        z-index: 0;
    }

    &:hover {
        &:before {
            @include transition(all $t2 linear);
            @include position(absolute, 4px, 4px);
            border: $bdsize $bdstyle $bdh;
        }

        .content_link {
            @include transition(all $t2 linear);
            background-color: $bgh;
            color: $colorh;

            &:after {
                @include transition(all $t2 linear);
                @include position(relative, 0px, 15px);
            }
        }
    }

    &:disabled {
        cursor: not-allowed;

        &:hover {
            &:before {
                @include position(absolute);
            }
        }

        &:before {
            border: $bdsize $bdstyle $bdd;
        }

        .content_link {
            border: $bdsize $bdstyle $bdd;
            background-color: $bgd;
            color: $colord;
        }

    }

    .content_link {
        @include position;
        @include center-flex-row;
        @include aspect-ratio($w, $ar);
        @include font(szrem($size), $font, $weight);
        @include text($align, $transform);
        @include transition(all $t2 linear);
        border: $bdsize $bdstyle $bd;
        background-color: $bg;
        color: $color;
        z-index: 0;

        &:after {
            @include transition(all $t2 linear);
            @include position(relative, 0px, 10px);
            content: "";
        }
    }
}

